<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Anupama/IdeaProjects/mavenjava">
        <classes>
            <class name="qaclickacademy.RestAPITest">
                <methods>
                    <include name="postJira"/>
                    <include name="deleteTwitter"/>
                </methods>
            </class>
            <class name="qaclickacademy.SeleniumTest">
                <methods>
                    <include name="browserAutomation"/>
                    <include name="elementsUI"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>